pillow
python-decouple
djangorestframework
djangorestframework-simplejwt
markdown
django-filter
django==4.2
drf-spectacular
setuptools
django-cors-headers
psycopg2-binary
django-environ
celery
redis
gunicorn
ipython
django-mail-templated

